.container {
  background: rgb(225, 215, 213);
  width: 100%;
}

.wrap {
  margin: auto;
  max-width: 1140px;
  max-height: 540px;
  min-height: 540px;
}

.grid {
  display: inline-flex;
  flex-wrap: wrap;
}

.wearable {
  margin-top: 16px;
  box-sizing: border-box;
  margin-right: 16px;
}

.wearable svg {
  width: 200px;
  height: 200px;
}

.header {
  font-size: 46px;
  font-family: 'Londrina';
  margin-top: 32px;
}

.selected {
  box-shadow: 4px -6px 1px 1px #e11833, 5px 5px 15px 5px rgb(0 0 0 / 0%)
}

.empty {
  font-size: 32px;
  font-family: 'Londrina';
  margin-top: 32px;
  line-height: 40px;
  background: #e1d7d5;
  padding: 60px;
}

.button {
  background: #eed811;
  padding: 24px;
  font-size: 32px;
  font-family: 'Londrina';
  display: inline-block;
  border-radius: 8px;
  margin-top: 32px;
}

.button a {
  color: black;
}