.container {
  z-index: 1;
  width: 100%;
  margin: auto;
  padding: 16px;
  box-sizing: border-box;
  font-family: 'Londrina';
  font-size: 21px;
}

.wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1140px;
  margin: auto;
}

span {
  font-family: 'Nountown';
  font-size: 48px;
  color: #e11833;
}

.sideRow {
  display: inline-flex;
  align-items: center;
}

.navItem, .navItem a {
  padding: 16px;
  color: #e11833;
}