.subHeader {
  font-size: 21px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.listItem {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  position: relative;
  margin-right: 16px;
}

.listItem svg {
  width: 100px;
  height: 100px;
  box-shadow: 4px -6px 1px 1px #e11833, 5px 5px 15px 5px rgb(0 0 0 / 0%);
  border: 3px solid #cbcbcb;
  box-sizing: border-box;
}

.shiftButtons {
  position: absolute;
  bottom: -8px;
}

.shiftButtons div {
  color:#e11833;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: white;
  width: 30px;
  height: 30px;
  font-size: 14px;
  font-family: 'Londrina';
  position: relative;
  display: inline-flex;
  top: 0;
  right: 0;
  margin-right: 2px;
}

.button {
  padding: 24px;
  font-size: 32px;
  font-family: 'Londrina';
  display: inline-block;
  border-radius: 8px;
  margin-top: 32px;
}

.saveButton {
  background: #068940;
  color: white;
}

.cancelButton {
  padding: 16px;
  padding-left: 0;
  padding-bottom: 48px;
}