img {
  width: 540px;
}

.columns {
  display: flex;
}

.columns .column {
  padding: 16px;
  padding-bottom: 0;
}

.name {
  font-size: 32px;
  font-weight: 600;
}

.button {
  background: #eed811;
  padding: 24px;
  font-size: 32px;
  font-family: 'Londrina';
  display: inline-block;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 32px;
}

.nextButtons {
  display: flex;
  margin-left: -8px;
}

.nextButtons div {
  cursor: pointer;
  padding: 8px;
}